svg {
    width: 143px;
    height: 230px;
    align-items: center;
}

path {
    stroke:rgb(255, 255, 255);
    stroke-width: 4px;
    stroke-linecap: round;
    fill: none;
}
  
@media screen and (min-width: 0px) and (max-width: 369px) {
  
    path {
        stroke-width: 3.8px;
    }
  
  }
  
  
  @media screen and (min-width: 370px) and (max-width: 390px) {
  
    path {
        stroke-width: 3.8px;
    }

  }
  
  @media screen and (min-width: 391px) and (max-width: 600px) {
  
    path {
        stroke-width: 3.8px;
    }
  
  }