.contact {
  background: #ffffff;
  min-width: 100vw;
  padding-top: 11vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: row;
  padding-left: 9.6vw;
  padding-right: 9.6vw;
}

.textcontainer-about {
  font-family: 'Karla', sans-serif;
  color: #493011;
  padding-right: 9vw;
}

.header-about {
  font-size: 6.5vw;
  letter-spacing: 1.1px;
  margin-bottom: 0.26em;
  text-align: left;
  font-weight: 400;
}

.text-about {
  font-size: 1.35vw;
  line-height: 1.28;
  letter-spacing: 0.2px;
  font-weight: 200;
}

.form-text-container {
  font-family: 'Karla', sans-serif;
  color: #493011;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact-header {
  font-size: 6.5vw;
  letter-spacing: 1.1px;
  margin-bottom: 0.26em;
  font-weight: 400;
}

.contact-textinfo {
  font-size: 1.35vw;
  line-height: 1.28;
  letter-spacing: 0.2px;
  font-weight: 200;
}

.form-container {
  margin-top: 2.9vh;
}

.form-control {
  width: 35vw;
  font-size: 1.05vw;
  font-family: 'Karla', sans-serif;
  background-color: #ffffff;
  color: #493011;
  border: none;
  padding: 1.48vh 0vw 1.48vh 1.1vw;
  border-bottom: #493011 solid 1px;
}

.form-control-message {
  border: #493011 solid 1px;
  margin-top: 1.23em;
}

.name-input,
.email-input,
.subject-input,
.message-input {
  padding-bottom: 1.26vh;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #493011;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #493011;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #493011;
}

.btn-submit {
  margin-top: 2vh;
  margin-left: 24.3vw;
  color: #493011;
  padding: 3.6vh 1.7vw 3.6vh 1.7vw;
  border: #493011 solid 0.12em;
  border-radius: 50%;
  display: block;
  font-family: 'Karla', sans-serif;
  font-size: 1.85vh;
  cursor: pointer;
  background: linear-gradient(to right, rgb(240, 240, 240) 50%, white 50%);
  background-position: right top;
  background-size: 250% 100%;
  transition: all .4s ease-out;
}

.btn-submit:hover {
  background-position: left top;
}


@media screen and (min-width: 0px) and (max-width: 369px) {
  
  .contact {
    padding-top: 9vh;
    padding-bottom: 8vh;
    flex-direction: column;
    padding-left: 17.5vw;
    padding-right: 20vw;
  }
  
  .textcontainer-about {
    text-align: left;
    padding-right: 0vw;
    margin-bottom: 6vh;
  }
  
  .header-about {
    font-size: 10vw;
    margin-bottom: 0.22em;
  }
  
  .text-about {
    font-size: 4vw;
  }
  
  .contact-header {
    font-size: 10vw;
    margin-bottom: 0.22em;
  }
  
  .contact-textinfo {
    font-size: 4vw;
  }
  
  .form-control {
    width: 59.8vw;
    font-size: 3.2vw;
    padding: 1.48vh 0vw 1.48vh 3vw;
  }
  
  .btn-submit {
    margin-top: 1.7vh;
    margin-left: 33.5vw;
    border: #493011 solid 0.12em;
    font-size: 1.6vh;
    padding: 2.2vh 3vw 2.2vh 3vw;
  }

}

@media screen and (min-width: 370px) and (max-width: 390px) {

  .contact {
  padding-top: 9vh;
  padding-bottom: 8vh;
  flex-direction: column;
  padding-left: 17.5vw;
  padding-right: 20vw;
}

.textcontainer-about {
  text-align: left;
  padding-right: 0vw;
  margin-bottom: 6vh;
}

.header-about {
  font-size: 10vw;
  margin-bottom: 0.22em;
}

.text-about {
  font-size: 4vw;
}

.contact-header {
  font-size: 10vw;
  margin-bottom: 0.22em;
}

.contact-textinfo {
  font-size: 4vw;
}

.form-control {
  width: 59.8vw;
  font-size: 3.2vw;
  padding: 1.48vh 0vw 1.48vh 3vw;
}

.btn-submit {
  margin-top: 1.7vh;
  margin-left: 33.5vw;
  border: #493011 solid 0.12em;
  font-size: 1.6vh;
  padding: 2.2vh 3vw 2.2vh 3vw;
}

}

@media screen and (min-width: 391px) and (max-width: 600px) {

  .contact {
    padding-top: 9vh;
    padding-bottom: 8vh;
    flex-direction: column;
    padding-left: 17.5vw;
    padding-right: 20vw;
  }
  
  .textcontainer-about {
    text-align: left;
    padding-right: 0vw;
    margin-bottom: 6vh;
  }
  
  .header-about {
    font-size: 10vw;
    margin-bottom: 0.22em;
  }
  
  .text-about {
    font-size: 4vw;
  }
  
  .contact-header {
    font-size: 10vw;
    margin-bottom: 0.22em;
  }
  
  .contact-textinfo {
    font-size: 4vw;
  }
  
  .form-control {
    width: 59.8vw;
    font-size: 3.2vw;
    padding: 1.48vh 0vw 1.48vh 3vw;
  }
  
  .btn-submit {
    margin-top: 1.7vh;
    margin-left: 33.5vw;
    border: #493011 solid 0.12em;
    font-size: 1.6vh;
    padding: 2.2vh 3vw 2.2vh 3vw;
  }

}

@media screen and (min-width: 601px) and (max-width: 1000px) {

  .contact {
    padding-top: 9vh;
    padding-bottom: 8vh;
    flex-direction: column;
    padding-left: 17.4vw;
    padding-right: 20vw;
  }
  
  .textcontainer-about {
    text-align: left;
    padding-right: 0vw;
    margin-bottom: 6vh;
  }
  
  .header-about {
    font-size: 7vw;
    margin-bottom: 0.22em;
  }
  
  .text-about {
    font-size: 2.7vw;
  }
  
  .contact-header {
    font-size: 7vw;
    margin-bottom: 0.22em;
  }
  
  .contact-textinfo {
    font-size: 2.7vw;
  }
  
  .form-control {
    width: 59.8vw;
    font-size: 2.1vw;
    padding: 1.48vh 0vw 1.48vh 3vw;
  }
  
  .btn-submit {
    margin-top: 1.5vh;
    margin-left: 42.5vw;
    border: #493011 solid 0.12em;
    font-size: 1.2vh;
    padding: 2.2vh 3vw 2.2vh 3vw;
  }  

}

@media screen and (min-width: 3000px) {
  
  .btn-submit {
    margin-left: 26.2vw;
    margin-top: 3vh;
  }  

}