.heartLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    min-height: 100vh;
}

.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
  }
  .lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: rgb(255, 217, 235);
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .lds-heart div:after,
  .lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: rgb(255, 217, 235);
    border-top: #493011 solid 1px;
    }

  .lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
  }
  .lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
  }
  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }
  
@media screen and (min-width: 2501px) and (max-width: 2999px) {

    .waveLoaderPath {
        margin-top: -22vh;
        transform: scale(1.6, 1.6);
    }
  }
  
  @media screen and (min-width: 3000px) {
    
    .waveLoaderPath {
        margin-top: -22vh;
        transform: scale(1.6, 1.6);
    }
  }