.card-container {
    display: flex;
    flex-direction: row;
    display: inline-block;
}

.card {
    position: relative;
    justify-content: center;
    margin-top: -0.25em;
}

.top {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 98.6%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.9);
}

.card:hover .top {
    opacity: 1;
  }

.name {
    font-family: 'MBF Taurian', serif;
    position: absolute;
    left: 50%;
    top: 45%;
    width: 90%;
    transform: translate(-50%, -50%);
    font-size: 1.45vw;
    letter-spacing: 0.06em;
    color: #493011;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.cover-img {
    width: 19em; 
    height: 19em; 
    object-fit: cover; 
    object-position: 0% 50%;
}

.button-project {
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translate(-50%, 50%);
    background: none;
    border: #493011 solid 0.25em;
    color: #493011;
    font-size: 0.8vw;
    padding: 1.8em 2em 1.8em 2em;
    border-radius: 50%;
    /* font-weight: bold; */
    letter-spacing: 0.08em;
    cursor: pointer;
}

.hiddencard {
    visibility: hidden;
  }