  .App {
  text-align: center;
  background-color: #7ed8fc;
  padding: 4.3em;
  } 
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Pulchella Free;
    color: #fc8bb7;
    font-size: 4em;
    }

  .main {
    min-height: 100vh;
  }

  .h2 {
    font-family: Pulchella Free;
    color: #fc8bb7;
    font-size: 3em;
  }

  .button-container button {
    background-color: #fc8bb7;
    color: #fff;
    font-size: 1.4em;
    width: 15%;
    padding: 0.7em;
    border: none;
    font-family: Pulchella Free;
    margin: 0.3em;
  }