.card-container {
    display: flex;
    flex-direction: row;
    display: inline-block;
    /* padding: 1em 1em 1em 1em;
    background-color:rgba(219, 219, 216, 0.3);
    margin: 0.4em; */
}

.card {
    position: relative;
    justify-content: center;
    margin-top: -0.25em;
}

.top {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 98.6%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.7);
}

.card:hover .top {
    opacity: 1;
  }

.name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 0.94em;
    color: #000000;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.cover-img {
    width: 19em; 
    height: 19em; 
    object-fit: cover; 
    object-position: 0% 50%;
}

.button-project {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 90%);
}

.popup-div {
    position: absolute;
    height: 50em;
    width: 40em;
    color: violet;
    z-index: 1000;
    background-color: yellowgreen;
}