.card-container {
    display: flex;
    flex-direction: row;
    display: inline-block;
    padding: 1em 1em 1em 1em;
}

.card {
    position: relative;
    justify-content: center;
}

.top {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.7);
}

.card:hover .top {
    opacity: 1;
  }

.name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Pulchella Free;
    color: #fc8bb7;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.cover-img {
    width: 340px; 
    height: 340px; 
    object-fit: cover; 
    object-position: 100% 40%;
}