.circleSize {
    width: 10%;
    transform: translatey(0px);
    animation: circleSize-spin 6s ease-in-out infinite;
}

  @keyframes circleSize-spin {
    0% {
        shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }
    100% {
        shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}