.Contactpage {
    /* text-align: center; */
    /* background-image: url(/src/images/contactleg.svg); */
    background: #eed6e6;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    min-width: 100vw;
    padding-top: 4em;
    padding-left: 27em;
    padding-right: 27em;
    padding-bottom: 3em;
    } 

    .Form-text-container {
        display: flex;
        flex-direction: column;
        align-items: left; 
    }

    /* .Text-container-contact {
        display: inline-block; 
        text-align: left;
    } */

    .Contact-header {
        font-size: 4em;
        line-height: 1.5;
    }

    .Contact-textinfo {
        font-size: 0.94em;
        font-family: 'Sofia Pro', sans-serif;
        line-height: 1.4;
    }

    .Form-container {
        margin-top: 1.4em;
    }

    .Form-control {
        width: 30em;
        font-family: 'Sofia Pro', sans-serif;
        background-color: rgb(255, 255, 255);
        border: none;
        padding: 0.9em;
        border-radius: 9px;
    }

    .Name-input, .Email-input, .Subject-input, .Message-input {
        padding-bottom: 0.7em;
    }

    .Btn-submit {
        margin-top: 1em;
        margin-bottom: 3em;
        padding: 1.3em 2.8em 1.3em 2.8em;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        font-family: 'Sofia Pro', sans-serif;
        border: 0.14em #000;
        border-style: solid;
        border-radius: 9px;
    }