.work {
  /* background: #f8d0fc; */
  background: #ffffff;
  padding-top: 8em;
}

.text-container-work {
  color: #1a1b1f;
  padding-left: 9.6vw;
  padding-right: 31vw;
  text-align: left;
  padding-bottom: 6.3vh;
}

.work-header {
  font-size: 6.4vw;
  font-weight: 400;
  letter-spacing: 1.1px;
  padding-bottom: 0.26em;
}

.work-textinfo {
  font-family: "Open Sans", sans-serif;
  font-size: 1.35vw;
  line-height: 1.28;
  letter-spacing: 0.2px;
  font-weight: 400;
}

.cards-container {
  margin-left: 4.3vw;
  margin-right: 4.3vw;
  padding-bottom: -1em;
}

.hiddencard {
  visibility: none;
  height: 0em;
}

@media screen and (min-width: 0px) and (max-width: 369px) {
  .work {
    padding-top: 4em;
    margin-left: 6.3vw;
    margin-right: 6.3vw;
  }

  .text-container-work {
    padding-left: 11.5vw;
    padding-right: 9.6vw;
    text-align: left;
    padding-bottom: 3.4vh;
  }

  .work-header {
    font-size: 10vw;
  }

  .work-textinfo {
    font-size: 4vw;
  }
}

@media screen and (min-width: 370px) and (max-width: 390px) {
  .work {
    padding-top: 4em;
    margin-left: 6.3vw;
    margin-right: 6.3vw;
  }

  .text-container-work {
    padding-left: 11.5vw;
    padding-right: 9.6vw;
    text-align: left;
    padding-bottom: 3.4vh;
  }

  .work-header {
    font-size: 10vw;
  }

  .work-textinfo {
    font-size: 4vw;
  }
}

@media screen and (min-width: 391px) and (max-width: 600px) {
  .work {
    padding-top: 4em;
    margin-left: 6.3vw;
    margin-right: 6.3vw;
  }

  .text-container-work {
    padding-left: 11.5vw;
    padding-right: 9.6vw;
    text-align: left;
    padding-bottom: 3.4vh;
  }

  .work-header {
    font-size: 10vw;
  }

  .work-textinfo {
    font-size: 4vw;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .work {
    margin-left: 6.3vw;
    margin-right: 6.3vw;
  }

  .cards-container {
    padding-top: 2vh;
  }

  .text-container-work {
    padding-left: 11.5vw;
    padding-right: 9.6vw;
    text-align: left;
    padding-bottom: 3.1vh;
  }

  .work-header {
    font-size: 7vw;
  }

  .work-textinfo {
    font-size: 2.7vw;
  }
}
