.Menu-links {
  margin-top: 0em;
}

.Menu-links ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-family: 'Karla', sans-serif;
  font-size: 0.95vw;
  padding-top: 1.11em;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 10;
  right: 3.1vw;
  left: 3.1vw;
}

li {
  display: inline;
}

.linkMenu {
  text-decoration: none;
  color: #493011;
  font-weight: 900;
  letter-spacing: 0.08em;
}


.Menu-links-bottom ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-family: 'Karla', sans-serif;
  font-size: 0.8vw;
  padding-top: 1.05em;
  overflow: hidden;
  position: fixed;
  bottom: 1.25em;
  float: left;
  z-index: 10;
  right: 3.1vw;
  left: 3.1vw;
}

.linkMenuBottom {
  color: #493011;
  font-weight: 600;
  letter-spacing: 0.08em;
  padding-left: 2.5em;
}

.logo-menu-container {
  position: fixed;
  display: flex;
  height: 100%;
  z-index: 10;
}

.linkMenuLogo {
  display: flex;
}

.m-logo {
  width: 3.2vw;
  margin-top: -1.5vw;
  margin-left: 1.58vw;
  overflow: hidden;
}

@media screen and (min-width: 0px) and (max-width: 369px) {
  
  .m-logo {
    width: 7.5vw;
    margin-left: 4.861vw;
  }

  .Menu-links ul {
    font-size: 2.4vw;
    padding-top: 1.3em;
    right: 8.4vw;
    left: 8.4vw;
  }

  .Menu-links-bottom ul {
    font-size: 2vw;
    bottom: 1.6em;
    right: 8.4vw;
    left: 3.1vw;
  }

}

@media screen and (min-width: 370px) and (max-width: 390px) {

  .m-logo {
    width: 7.5vw;
    margin-left: 4.86vw;
  }

  .Menu-links ul {
    font-size: 2.4vw;
    padding-top: 1.3em;
    right: 8.4vw;
    left: 8.4vw;
  }

  .Menu-links-bottom ul {
    font-size: 2vw;
    bottom: 1.6em;
    right: 8.4vw;
    left: 3.1vw;
  }

}

@media screen and (min-width: 391px) and (max-width: 600px) {

  .m-logo {
    width: 7.5vw;
    margin-left: 4.7vw;
  }

  .Menu-links ul {
    font-size: 2.4vw;
    padding-top: 1.3em;
    right: 8.4vw;
    left: 8.4vw;
  }

  .Menu-links-bottom ul {
    font-size: 2vw;
    bottom: 1.6em;
    right: 8.4vw;
    left: 3.1vw;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {

  .m-logo {
    width: 7vw;
    margin-left: 5vw;
  }

  .Menu-links ul {
    font-size: 1.7vw;
    padding-top: 1.98em;
    right: 8.4vw;
    left: 8.4vw;
  }

  .Menu-links-bottom ul {
    font-size: 1.5vw;
    bottom: 2.4em;
    right: 8.5vw;
    left: 3.1vw;
  }

}