.name-menu-container {
  position: fixed;
  z-index: 12;
}

.mLogo {
  width: 2vw;
  margin-top: 1.17vw;
  margin-left: 9.45vw;
}

.Menu-links {
  margin-top: 0em;
}

.Menu-links ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-family: "Karla", sans-serif;
  font-size: 0.95vw;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  right: 4.5vw;
  left: 3.1vw;
}

li {
  display: inline;
}

.linkAbout,
.linkWork,
.linkContact {
  border-left: #1a1b1f solid 1px;
  border-bottom: #1a1b1f solid 1px;
  padding: 1.63vw 1.72vw 1.63vw 1.72vw;
}

@-moz-document url-prefix() {
  .linkAbout,
  .linkWork,
  .linkContact {
    padding: 1.58vw 1.72vw 1.58vw 1.72vw;
  }
}

.linkContact {
  border-top: #1a1b1f solid 1px;
  background: linear-gradient(
    to right,
    rgb(240, 240, 240) 50%,
    rgb(252, 219, 210) 50%
  );
  background-position: right top;
  background-size: 250% 100%;
  transition: all 0.4s ease-out;
}

.linkContact:hover {
  background-position: left top;
}

.linkMenu {
  text-decoration: none;
  color: #1a1b1f;
  font-weight: lighter;
  letter-spacing: 0.08em;
}

.linkWork,
.linkAbout {
  background: linear-gradient(to right, rgb(240, 240, 240) 50%, white 50%);
  border-top: #1a1b1f solid 1px;
  background-position: right top;
  background-size: 250% 100%;
  transition: all 0.4s ease-out;
}

.linkAbout:hover {
  background-position: left top;
}

.linkWork:hover {
  background-position: left top;
}

.Menu-links-bottom ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-family: "Karla", sans-serif;
  font-size: 0.8vw;
  padding-top: 1.05em;
  overflow: hidden;
  position: fixed;
  bottom: 2.14em;
  float: left;
  z-index: 10;
  right: 6.5vw;
  left: 3.1vw;
}

.linkMenuBottom {
  color: #1a1b1f;
  font-weight: 600;
  letter-spacing: 0.08em;
  padding-left: 2.6em;
}

@media screen and (min-width: 0px) and (max-width: 369px) {
  .Menu-links {
    margin-bottom: none;
  }

  .Menu-links ul {
    display: flex;
    justify-content: center;
    bottom: 0em;
    top: none;
    font-size: 2.4vw;
  }

  .linkAbout,
  .linkWork,
  .linkContact {
    border-left: #1a1b1f solid 1px;
    border-bottom: #1a1b1f solid 1px;
    padding: 3.9vw 9.2vw 3.9vw 9.2vw;
  }

  .name-menu-container {
    width: 100%;
  }

  .mLogoLink {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mLogo {
    width: 4.2vw;
    margin-top: 3.3vw;
    margin-left: 0vw;
  }

  .Menu-links-bottom ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-family: "Karla", sans-serif;
    font-size: 2vw;
    transform: rotate(-90deg);
    padding-top: 1.05em;
    position: fixed;
    bottom: -27.8vh;
    z-index: 13;
    margin-right: -89vw;
  }

  .linkMenuBottom {
    color: #1a1b1f;
    font-weight: 600;
    letter-spacing: 0.08em;
    padding-left: 3.4em;
  }
}

@media screen and (min-width: 370px) and (max-width: 390px) {
  .Menu-links {
    margin-bottom: none;
  }

  .Menu-links ul {
    display: flex;
    justify-content: center;
    bottom: 0em;
    top: none;
    font-size: 2.4vw;
  }

  .linkAbout,
  .linkWork,
  .linkContact {
    border-left: #1a1b1f solid 1px;
    border-bottom: #1a1b1f solid 1px;
    padding: 3.9vw 9.2vw 3.9vw 9.2vw;
  }

  .name-menu-container {
    width: 100%;
  }

  .mLogoLink {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mLogo {
    width: 6.2vw;
    margin-top: 2.5vw;
    margin-left: 0vw;
  }

  .Menu-links-bottom ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-family: "Karla", sans-serif;
    font-size: 2vw;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    padding-top: 1.05em;
    position: fixed;
    bottom: -27.5vh;
    z-index: 13;
    margin-right: -89.1vw;
  }

  .linkMenuBottom {
    color: #1a1b1f;
    font-weight: 600;
    letter-spacing: 0.08em;
    padding-left: 3.4em;
  }
}

@media screen and (min-width: 391px) and (max-width: 600px) {
  .Menu-links {
    margin-bottom: none;
  }

  .Menu-links ul {
    display: flex;
    justify-content: center;
    bottom: 0em;
    top: none;
    font-size: 2.4vw;
  }

  .linkAbout,
  .linkWork,
  .linkContact {
    border-left: #1a1b1f solid 1px;
    border-bottom: #1a1b1f solid 1px;
    padding: 3.9vw 9.2vw 3.9vw 9.2vw;
  }

  .name-menu-container {
    width: 100%;
  }

  .mLogoLink {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mLogo {
    width: 4.2vw;
    margin-top: 3.2vw;
    margin-left: 0vw;
  }

  .Menu-links-bottom ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-family: "Karla", sans-serif;
    font-size: 2vw;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    padding-top: 1.05em;
    position: fixed;
    bottom: -28vh;
    z-index: 13;
    margin-right: -89vw;
  }

  .linkMenuBottom {
    color: #1a1b1f;
    font-weight: 600;
    letter-spacing: 0.08em;
    padding-left: 3.4em;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .Menu-links {
    margin-bottom: none;
  }

  .Menu-links ul {
    display: flex;
    justify-content: center;
    bottom: 0em;
    top: none;
    font-size: 2.2vw;
  }

  .linkAbout,
  .linkWork,
  .linkContact {
    border-left: #1a1b1f solid 1px;
    border-bottom: #1a1b1f solid 1px;
    padding: 4.1vw 9.6vw 4.1vw 9.6vw;
  }

  .name-menu-container {
    width: 100%;
  }

  .mLogoLink {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mLogo {
    width: 4.6vw;
    margin-top: 2.9vw;
    margin-left: 0vw;
  }

  .Menu-links-bottom ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-family: "Karla", sans-serif;
    font-size: 1.8vw;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    padding-top: 1.05em;
    position: fixed;
    bottom: -41vh;
    z-index: 13;
    margin-right: -89.9vw;
  }

  .linkMenuBottom {
    color: #1a1b1f;
    font-weight: 600;
    letter-spacing: 0.08em;
    padding-left: 3em;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2999px) {
  @-moz-document url-prefix() {
    .linkAbout,
    .linkWork,
    .linkContact {
      padding: 1.63vw 1.72vw 1.63vw 1.72vw;
    }
  }
}

@media screen and (min-width: 3000px) {
  @-moz-document url-prefix() {
    .linkAbout,
    .linkWork,
    .linkContact {
      padding: 1.66vw 1.72vw 1.66vw 1.72vw;
    }
  }
}
