.header {
  background: #ffffff;
  min-height: 100vh;
}

.main-frame {
  position: fixed;
  background: #ffffff;
  z-index: 9;
}

.frame-top {
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5vw;
  border: #493011 solid 1px;
  z-index: 9;

}

.frame-right {
  top: 0;
  right: 0;
  height: 100vh;
  width: 4.5vw;
  border: #493011 solid 1px;
  z-index: 10;
}

.frame-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.5vw;
  border: #493011 solid 1px;
  z-index: 9;
}

.frame-left {
  top: 0;
  left: 0;
  height: 100vh;
  width: 4.5vw;
  border: #493011 solid 1px;
  z-index: 10;
}

.box-left-top {
  position: fixed;
  z-index: 11;
  height: 4.5vw;
  width: 4.5vw;
  border-bottom: #493011 solid 1px;
}

.box-right-top {
  position: fixed;
  right: 0;
  z-index: 11;
  height: 4.5vw;
  width: 4.5vw;
  border-bottom: #493011 solid 1px;
}

.box-left-bottom {
  position: fixed;
  bottom: 0;
  z-index: 11;
  height: 4.5vw;
  width: 4.5vw;
  border-top: #493011 solid 1px;
}

.box-right-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 11;
  height: 4.5vw;
  width: 4.5vw;
  border-top: #493011 solid 1px;
}

.text-container-start {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  color: #493011;
  padding-top: 24.5vh;
  margin-left: 9.4vw;
}

.header-header {
  font-size: 7.5vw;
  margin-bottom: 0.18em;
  letter-spacing: 1.4px;
  line-height: 1.09;
  font-weight: lighter;
}

#picture-me {
  color: #493011;
  display: inline;
  text-decoration-line: underline;
  text-decoration-thickness: 0.01em;
  text-underline-offset: 0.07em;
  cursor: pointer;
}

.imageme{
  position: absolute;
  margin-left: 32vw;
  margin-top: -22vh;
  border-radius: 50%;
  width: 2.6em; 
  height: 2.6em; 
  object-fit: cover; 
  object-position: 100% 0%;
}

.scrollHeader {
  height: 1.2em;
  font-size: 7.5vw;
  line-height: 1.09;
  position: relative;
  overflow: hidden;
  margin-top: 1vh;
}

.scrollHeader > span {
  position: absolute;
  top: 0;
  animation: slide 11s infinite;
  font-weight: lighter;
  width: 250em;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.p-container {
  position: absolute;
  border: #493011 solid 0.12em;
  border-radius: 50%;
  width: 8vw;
  height: 4.95vw;
  margin-left: 84.6vw;
  margin-top: 6.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkScroll {
  text-decoration: none;
  color: #493011;
}

.hoverScroll {
  height: 1.2em;
  line-height: 1.2em;
  font-family: 'Karla', sans-serif;
  font-size: 0.95vw;
  letter-spacing: 0.01em;
  position: relative;
  overflow: hidden;
  width: 5.6vw;
  display: flex;
  justify-content: center;
  align-items: top;
  font-weight: 200;
}

.hoverScroll:hover > span {
  position: absolute;
  top: 0;
  animation: slidetwo 4s;
  font-weight: lighter;
}

@keyframes slidetwo {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

#heart-logo {
  margin-left: 0.8vw;
}



@media screen and (min-width: 0px) and (max-width: 369px) {
  
  .frame-top {
    height: 11vw;
  }
  
  .frame-right {
    width: 11vw;
  }
  
  .frame-bottom {
    height: 11vw;
  }
  
  .frame-left {
    width: 11vw;
  }

  .box-left-top {
    height: 11vw;
    width: 11vw;
  }
  
  .box-right-top {
    height: 11vw;
    width: 11vw;
    }
  
  .box-left-bottom {
    height: 11vw;
    width: 11vw;
  }
  
  .box-right-bottom {
    height: 11vw;
    width: 11vw;
  }

  .text-container-start {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    color: #493011;
    padding-top: 24.5vh;
    margin-left: 17vw;
    margin-right: 11vw;
  }
  
  .header-header {
    font-size: 15vw;
    margin-bottom: 0.18em;
    letter-spacing: 1.4px;
    line-height: 1.1;
    font-weight: lighter;
  }
  
  .scrollHeader {
    height: 1.2em;
    margin-top: 2vh;
    font-size: 7vw;
    line-height: 1.1em;
    position: relative;
    overflow: hidden;
  }
  
  .scrollHeader > span {
    position: absolute;
    top: 0;
    animation: slide 11s infinite;
    font-weight: lighter;
    width: 250em;
  }

  .imageme{
    margin-left: -24vw;
    margin-top: 28.5vh;
    width: 2.2em; 
    height: 2.2em; 
  }

  .p-container {
    border: #493011 solid 0.12em;
    border-radius: 50%;
    width: 17.7vw;
    height: 10.1vw;
    margin-left: 16.5vw;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .linkScroll {
    text-decoration: none;
    color: #493011;
  }
  
  .hoverScroll {
    height: 1.2em;
    line-height: 1.2em;
    font-family: 'Karla', sans-serif;
    font-size: 2vw;
    letter-spacing: 0.01em;
    position: relative;
    overflow: hidden;
    width: 11vw;
    display: flex;
    justify-content: center;
    align-items: top;
    font-weight: 200;
  }

}


@media screen and (min-width: 370px) and (max-width: 390px) {

  .frame-top {
    height: 11vw;
  }
  
  .frame-right {
    width: 11vw;
  }
  
  .frame-bottom {
    height: 11vw;
  }
  
  .frame-left {
    width: 11vw;
  }

  .box-left-top {
    height: 11vw;
    width: 11vw;
  }
  
  .box-right-top {
    height: 11vw;
    width: 11vw;
    }
  
  .box-left-bottom {
    height: 11vw;
    width: 11vw;
  }
  
  .box-right-bottom {
    height: 11vw;
    width: 11vw;
  }

  .text-container-start {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    color: #493011;
    padding-top: 24.5vh;
    margin-left: 17vw;
    margin-right: 11vw;
  }
  
  .header-header {
    font-size: 15vw;
    margin-bottom: 0.18em;
    letter-spacing: 1.4px;
    line-height: 1.1;
    font-weight: lighter;
  }
  
  .scrollHeader {
    height: 1.2em;
    margin-top: 2vh;
    font-size: 7vw;
    line-height: 1.1em;
    position: relative;
    overflow: hidden;
  }
  
  .scrollHeader > span {
    position: absolute;
    top: 0;
    animation: slide 11s infinite;
    font-weight: lighter;
    width: 250em;
  }
  
  .imageme{
    margin-left: -24.5vw;
    margin-top: 28.2vh;
    width: 2.2em; 
    height: 2.2em; 
  }

  .p-container {
    border: #493011 solid 0.12em;
    border-radius: 50%;
    width: 17.7vw;
    height: 10.1vw;
    margin-left: 16.5vw;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .linkScroll {
    text-decoration: none;
    color: #493011;
  }
  
  .hoverScroll {
    height: 1.2em;
    line-height: 1.2em;
    font-family: 'Karla', sans-serif;
    font-size: 2vw;
    letter-spacing: 0.01em;
    position: relative;
    overflow: hidden;
    width: 11vw;
    display: flex;
    justify-content: center;
    align-items: top;
    font-weight: 200;
  }

}

@media screen and (min-width: 391px) and (max-width: 600px) {

  .frame-top {
    height: 11vw;
  }
  
  .frame-right {
    width: 11vw;
  }
  
  .frame-bottom {
    height: 11vw;
  }
  
  .frame-left {
    width: 11vw;
  }

  .box-left-top {
    height: 11vw;
    width: 11vw;
  }
  
  .box-right-top {
    height: 11vw;
    width: 11vw;
    }
  
  .box-left-bottom {
    height: 11vw;
    width: 11vw;
  }
  
  .box-right-bottom {
    height: 11vw;
    width: 11vw;
  }

  .text-container-start {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    color: #493011;
    padding-top: 24.5vh;
    margin-left: 17vw;
    margin-right: 11vw;
  }
  
  .header-header {
    font-size: 15vw;
    margin-bottom: 0.18em;
    letter-spacing: 1.4px;
    line-height: 1.1;
    font-weight: lighter;
  }
  
  .scrollHeader {
    height: 1.2em;
    margin-top: 2vh;
    font-size: 7vw;
    line-height: 1.1em;
    position: relative;
    overflow: hidden;
  }
  
  .scrollHeader > span {
    position: absolute;
    top: 0;
    animation: slide 11s infinite;
    font-weight: lighter;
    width: 250em;
  }

  .imageme{
    margin-left: -24vw;
    margin-top: 28.5vh;
    width: 2.2em; 
    height: 2.2em; 
  }

  .p-container {
    border: #493011 solid 0.12em;
    border-radius: 50%;
    width: 17.7vw;
    height: 10.1vw;
    margin-left: 16.5vw;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .linkScroll {
    text-decoration: none;
    color: #493011;
  }
  
  .hoverScroll {
    height: 1.2em;
    line-height: 1.2em;
    font-family: 'Karla', sans-serif;
    font-size: 2vw;
    letter-spacing: 0.01em;
    position: relative;
    overflow: hidden;
    width: 11vw;
    display: flex;
    justify-content: center;
    align-items: top;
    font-weight: 200;
  }

}

@media screen and (min-width: 601px) and (max-width: 1000px) {

  .frame-top {
    height: 11vw;
  }
  
  .frame-right {
    width: 11vw;
  }
  
  .frame-bottom {
    height: 11vw;
  }
  
  .frame-left {
    width: 11vw;
  }

  .box-left-top {
    height: 11vw;
    width: 11vw;
  }
  
  .box-right-top {
    height: 11vw;
    width: 11vw;
    }
  
  .box-left-bottom {
    height: 11vw;
    width: 11vw;
  }
  
  .box-right-bottom {
    height: 11vw;
    width: 11vw;
  }

  .text-container-start {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    color: #493011;
    padding-top: 24.5vh;
    margin-left: 17vw;
    margin-right: 11vw;
  }
  
  .header-header {
    font-size: 11vw;
    margin-bottom: 0.18em;
    letter-spacing: 1.4px;
    line-height: 1.1;
    font-weight: lighter;
  }
  
  .scrollHeader {
    height: 1.2em;
    margin-top: 2vh;
    font-size: 7.5vw;
    line-height: 1.1em;
    position: relative;
    overflow: hidden;
  }
  
  .scrollHeader > span {
    position: absolute;
    top: 0;
    animation: slide 11s infinite;
    font-weight: lighter;
    width: 250em;
  }

  .p-container {
    border: #493011 solid 0.12em;
    border-radius: 50%;
    width: 17.7vw;
    height: 10.1vw;
    margin-left: 17vw;
    margin-top: 8.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .linkScroll {
    text-decoration: none;
    color: #493011;
  }
  
  .hoverScroll {
    height: 1.2em;
    line-height: 1.2em;
    font-family: 'Karla', sans-serif;
    font-size: 2vw;
    letter-spacing: 0.01em;
    position: relative;
    overflow: hidden;
    width: 11vw;
    display: flex;
    justify-content: center;
    align-items: top;
    font-weight: 200;
  }

  .imageme{
    margin-left: 1.9vw;
    margin-top: -28.7vh;
    width: 1.8em; 
    height: 1.8em; 
  }

}

@media screen and (min-width: 2500px) and (max-width: 2999px) {

  .imageme{
    margin-left: 33.5vw;
    margin-top: -21vh;
    width: 2.5em; 
    height: 2.5em; 
  }

}

@media screen and (min-width: 3000px) {
  
  .text-container-start {
    padding-top: 22vh;
  }
  
  .header-header {
    font-size: 6.7vw;
    margin-bottom: 0.18em;
    line-height: 1.09;
  }
  
  .scrollHeader {
    height: 1.2em;
    font-size: 6.7vw;
    line-height: 1.15em;
  }

  .p-container {
    margin-top: -5.5vh;
  }

  .imageme{
    margin-left: 33vw;
    margin-top: -16vh;
    width: 2.2em; 
    height: 2.2em; 
  }
}