
    .rsis-container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }


    .rsis-image {
        object-fit: scale-down !important;
    }