
.popup-div {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100vh;
    color: #493011;
    z-index: 1;
    backdrop-filter: blur(9px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-bg {
    height: 77vh;
    width: 48vw;
    background-color: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    padding-top: 2.6em;
}

.slider-container {
    margin-bottom: 1em;
}

.popup-text-container {
    display: flex;
    flex-direction: row;
    width: 41vw;
}

.left-popup-text {
    width: 41vw;
}

.popup-h2 {
    margin-bottom: 0.36em;
    font-size: 2.2vw;
    font-family: 'Agatho', serif;
    letter-spacing: 1.3px;
    font-weight: lighter;
}

.popup-p {
    /* margin-bottom: 1.7em; */
    font-size: 1.2vw;
    line-height: 1.15;
    letter-spacing: 0.15px;
    font-weight: lighter;
}

.linktext-show {
    position: absolute;
    bottom: 16.6vh;
    right: 29.8vw;
    text-decoration: none;
    color: #493011;
    font-family: 'Karla', sans-serif;
    font-size: 0.77vw;
    border: #493011 solid 0.12em;
    padding: 1.3em 1.45em 1.3em 1.45em;
    border-radius: 50%;
    font-weight: bold;
    letter-spacing: 0.08em;
    background: linear-gradient(to right, rgb(240, 240, 240) 50%, #fafafa 50%);
    background-position: right top;
    background-size: 250% 100%;
    transition: all .4s ease-out;
}

.linktext-show:hover {
    background-position: left top;
}

.wavyarrow {
    width: 5.5%;
    position: absolute;
    cursor: pointer;
    display: block;
    bottom: 16.6vh;
}

@media screen and (min-width: 0px) and (max-width: 369px) {
  
    .popup-bg {
        height: 17.6em;
        width: 17.6em;
    }

    .slider-container {
        margin-top: -1.8em;
        margin-bottom: 0.75em;
    }

    .popup-text-container {
        width: 68vw;
    }

    .popup-h2 {
        margin-bottom: 0.33em;
        font-size: 3.4vw;
    }
    
    .popup-p {
        margin-bottom: 1.37em;
        font-size: 2.4vw;
        line-height: 1.18;
    }

    .linktext-show {
        font-size: 1.5vw;
    }

    .wavyarrow {
        width: 10%;
        bottom: 30.2vh;
    }
}

@media screen and (min-width: 370px) and (max-width: 390px) {

    .popup-bg {
        height: 18em;
        width: 18em;
    }

    .slider-container {
        margin-top: -2em;
        margin-bottom: 0.75em;
    }

    .popup-text-container {
        width: 68vw;
    }

    .popup-h2 {
        margin-bottom: 0.33em;
        font-size: 3.4vw;
    }
    
    .popup-p {
        margin-bottom: 1.37em;
        font-size: 2.4vw;
        line-height: 1.18;
    }

    .linktext-show {
        font-size: 1.5vw;
    }

    .wavyarrow {
        width: 10%;
        bottom: 30.3vh;
    }

}

@media screen and (min-width: 391px) and (max-width: 600px) {

    .popup-bg {
        height: 20em;
        width: 20em;
    }

    .slider-container {
        margin-top: -2em;
        margin-bottom: 0.8em;
    }

    .popup-text-container {
        width: 68vw;
    }

    .popup-h2 {
        margin-bottom: 0.33em;
        font-size: 3.4vw;
    }
    
    .popup-p {
        margin-bottom: 1.4em;
        font-size: 2.4vw;
        line-height: 1.18;
    }

    .linktext-show {
        font-size: 1.5vw;
    }

    .wavyarrow {
        width: 10%;
        bottom: 29.8vh;
    }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {

    .popup-bg {
        height: 37em;
        width: 37em;
    }

    .slider-container {
        margin-top: -5em;
        margin-bottom: 1.45em;
    }

    .popup-text-container {
        width: 69vw;
    }

    .popup-h2 {
        margin-bottom: 0.33em;
        font-size: 3.3vw;
    }
    
    .popup-p {
        margin-bottom: 2.2em;
        font-size: 2.1vw;
        line-height: 1.18;
    }

    .linktext-show {
        font-size: 1.3vw;
    }

    .wavyarrow {
        width: 9.5%;
        bottom: 23.5vh;
    }

}

@media screen and (min-width: 2501px) and (max-width: 2999px) {

    .popup-bg {
        height: 76vh;
        width: 47vw;
        padding-top: 4.4em;
    }

    .slider-container {
        margin-bottom: 1.3em;
    }

    .popup-h2 {
        margin-bottom: 0.4em;
    }

}
  
@media screen and (min-width: 3000px) {

    .popup-bg {
        height: 70vh;
        width: 47vw;
        padding-top: 5.7em;
    }

    .slider-container {
        margin-bottom: 1.3em;
    }

    .popup-h2 {
        margin-bottom: 0.4em;
    }

    .linktext-show {
        bottom: 19vh;
    }
    
    .wavyarrow {
        bottom: 19vh;
    }

}